<% provide(:title, @user.name) %>
<div class="row">
  <table class="table table-bordered table-condensed" id="user-table">
    <tr>
      <td>
        <div class="btn-users-show">
          <p>
            <%= link_to "⬅️", user_path(date: @first_day.prev_month), class: "btn btn-primary btn-users-month" %>
            【 <%= l(@first_day, format: :middle) %> 時間管理表 】
            <%= link_to "➡️", user_path(date: @first_day.next_month), class: "btn btn-primary btn-users-month" %>
          </p>
        </div>
      </td>
      <td>
        <p>指定勤務開始時間： <%= l(@user.designated_work_start_time, format: :time) %></p>
        <p>指定勤務終了時間： <%= l(@user.designated_work_end_time, format: :time) %></p>
      </td>
      <td colspan="2">基本時間： <%= format_basic_info(@user.basic_work_time) %></td>
      <td>初日： <%= l(@first_day, format: :short) %></td>
    </tr>
    <tr>
      <td>所属： <%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>氏名： <%= @user.name %></td>
      <td>コード：<%= @user.uid %></td>
      <td>出勤日数：<%= @worked_sum %> 日</td>
      <td>締め： <%= l(@last_day, format: :short) %></td>
    </tr>
  </table>

    <!-- 上長へのお知らせ -->
    <div>
      <% if current_user.superior? && current_user?(@user) %>
        <!-- 1ヶ月の勤怠申請 -->
        <% if @monthly_attendance_application >= 1 %>
          <%= link_to "【所属長承認申請のお知らせ】", '#', class: "btn-notice" %>
          <span  style="border: solid 2px red; color: red;"><%= @monthly_attendance_application %>件の通知があります。</span><br>
        <% else %>
          <%= link_to "【所属長承認申請のお知らせ】", '#', class: "btn-notice" %>
        <% end %>
        <!-- 勤怠変更申請 -->
        <%= link_to "【勤怠変更申請のお知らせ】", '#', class: "btn-notice" %><br>
        <!-- 残業申請 -->
        <% if @overtime_application >= 1 %>
          <%= link_to "【残業申請のお知らせ】", attendances_edit_overtime_approval_user_path, remote: true, class: "btn-notice overtime-notice" %>
          <span style="border: solid 2px red; color: red;"><%= @overtime_application %>件の通知があります。</span><br>
        <% else %>
          <%= link_to "【残業申請のお知らせ】" , '#', class: "btn-notice" %><br>
        <% end %>
      <% end %>
    </div>
    <div class="btn-user-attendance">
      <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
      <%= link_to "CSV出力", '#', class: "btn btn-primary" %>
      <%= link_to "勤怠修正ログ（承認済み）", '#', class: "btn btn-primary" %>
    </div>

  <table class="table table-bordered table-condensed" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="3">残業申請</th>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th colspan="8">【実績】</th>
        <th colspan="5">所定外勤務</th>
      </tr>
      <tr>
        <th colspan="3">出社</th>
        <th colspan="3">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">時間外時間</th>
        <th rowspan="2">業務処理内容</th>
        <th rowspan="2">指示者確認 &#12958;</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |day| %>
      <tr>
        <!-- 産業申請ボタン -->
        <td>
          <%= link_to "残業申請", attendances_edit_overtime_application_user_path(@user, date: day.worked_on), remote: true, class: "btn btn-primary btn-sm" %>
        </td>
        <td><%= l(day.worked_on, format: :short) %></td>
        <td><%= $days_of_the_week[day.worked_on.wday] %></td>
        <!-- 出社時間 -->
        <td><%= day.started_at.floor_to(15.minutes).hour if day.started_at.present? %></td>
        <td><%= day.started_at.floor_to(15.minutes).min if day.started_at.present? %></td>
        <!-- 出勤ボタン -->
        <td>
          <% if (Date.current == day.worked_on) && day.started_at.nil? %>
            <%= link_to "出勤", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary" %>
          <% end %>
        </td>
        <!-- 退社時間 -->
        <td><%= day.finished_at.floor_to(15.minutes).hour if day.finished_at.present? %></td>
        <td><%= day.finished_at.floor_to(15.minutes).min if day.finished_at.present? %></td>
        <!-- 退勤ボタン -->
        <td>
          <% if (Date.current == day.worked_on) && day.started_at.present? && day.finished_at.nil? %>
            <%= link_to "退勤", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary" %>
          <% end %>
        </td>
        <!-- 在社時間 -->
        <td>
          <% if day.started_at.present? && day.finished_at.present? %>
            <%= str_time = working_time(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes)) %>
            <% @total_working_time = @total_working_time.to_f + str_time.to_f %>
          <% end %>
        </td>
        <td><%= day.note %></td>
        <!-- 終了予定時間 -->
        <td>
          <% if day.confirm_superior_for_overtime == "承認" %>
            <%= day.scheduled_end_time.floor_to(15.minutes).hour if day.scheduled_end_time.present? %>
          <% end %>
        </td>
        <td>
          <% if day.confirm_superior_for_overtime == "承認" %>
            <%= day.scheduled_end_time.floor_to(15.minutes).min if day.scheduled_end_time.present? %>
          <% end %> 
        </td>
        <!-- 時間外時間 -->
        <td>
          <% if day.scheduled_end_time.present? && day.confirm_superior_for_overtime == "承認" %>
            <% designated_work_end_time = date_correction(day.worked_on, @user.designated_work_end_time) %>
            <% scheduled_end_time = date_correction(day.worked_on, day.scheduled_end_time.floor_to(15.minutes)) %>
            <% if day.next_day == true %>
              <%= overtime(designated_work_end_time, scheduled_end_time.tomorrow) %>
            <% else %>
              <%= overtime(designated_work_end_time, scheduled_end_time) %>
            <% end %>
          <% end %>
        </td>
        <!-- 業務処理内容 -->
        <td><%= day.work_contents if day.work_contents.present? && day.confirm_superior_for_overtime == "承認" %></td>
        <!-- 指示者確認印 -->
        <td><%= day.instructor if day.instructor.present? %></td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td colspan="2"></td>
        <td colspan="6"></td>
        <td><%= format("%.2f", @total_working_time.to_f) %></td>
        <td colspan="5"></td>
        <!-- 1ヶ月分の勤怠を申請する -->
        <td>
          <%= form_with(model: @user, url: attendances_update_monthly_attendance_application_user_path(@user), method: :patch, local: true) do |f| %>
            <% day = @attendances.find_by(worked_on: @last_day) %>
            <%= f.fields_for "attendance[]", day do |attendance| %>
                所属長承認
                <span>
                  <% if day.confirm_superior_for_monthly_attendance.blank? %>
                    未
                  <% else %>
                    <%= day.confirm_superior_for_monthly_attendance %>
                  <% end %>
                </span></br>
                <%= attendance.collection_select :select_superior_for_monthly_attendance, @superiors, :name, :name, {prompt: ""}, class: "form-control" %>
            <% end %>
            <%= f.submit "申請", class: "btn btn-primary btn-sm btn-block", id: "btn-monthly-attendance-application" %>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<!-- モーダル表示 -->
<div id="edit-overtime-application" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-overtime-approval" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>