<% provide(:title, "残業申請") %>
<% provide(:class_text, "overtime-application") %>
<% provide(:btn_text, "overtime-application") %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title">残業申請</h2>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= form_with(model: @user, url: attendances_update_overtime_application_user_path(@user, date: params[:date]), method: :patch, local: true) do |f| %>
            <%= render 'shared/error_messages', object: @user %>
            <table class="table table-bordered table-condensed" id="table-overtime-application">
              <thead>
                <tr>
                  <th class="label-#{yield(:class_text)}">日付</th>
                  <th class="label-#{yield(:class_text)}">曜日</th>
                  <th class="label-#{yield(:class_text)}">終了予定時間</th>
                  <th class="label-#{yield(:class_text)}">翌日</th>
                  <th class="label-#{yield(:class_text)}">業務処理内容</th>
                  <th class="label-#{yield(:class_text)}">指示者確認 &#12958;</th>
                </tr>
              </thead>
              <tbody>
                <% @attendances.each do |day| %>
                  <%= f.fields_for "attendances[]", day do |attendance| %>
                    <% if day.worked_on == @attendance.worked_on %>
                      <tr>
                        <td><%= l(day.worked_on, format: :short) %></td>
                        <td><%= $days_of_the_week[day.worked_on.wday] %></td>
                        <td><%= attendance.time_field :scheduled_end_time, class: "form-control" %></td>
                        <td><%= attendance.check_box :next_day, {}, true, false %></td>
                        <td><%= attendance.text_field :work_contents, class: "form-control" %></td>
                        <td><%= attendance.collection_select :instructor, User.all.where(superior: true)  , :superior, :name, {prompt: ""}, class: "form-control" %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
            <div class="center">
              <%= f.submit "変更を送信する", class: "btn btn-primary btn-block btn-#{yield(:btn_text)}" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>