<% provide(:title, "勤怠変更承認") %>
<% provide(:class_text, "attendance-change-approval") %>
<% provide(:btn_text, "attendance-change-approval") %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="md-col-10 md-col-offset-1">
          <%= form_with(model: @users, url: attendances_update_attendances_change_approval_user_path(@users), method: :patch, local: true) do |f| %>
            <% @users.each do |user| %>
              <h2>【<%= user.name %>からの勤怠変更申請】</h2>
              <table class="table table-bordered table-condensed table-hover" id="table-attendances-change">
                <thead>
                  <tr>
                    <th rowspan="3">日付</th>
                    <th rowspan="3">曜日</th>
                    <th colspan="4">変更前</th>
                    <th colspan="4">変更後</th>
                    <th rowspan="3">備考</th>
                    <th rowspan="3">指示者確認&#12958;</th>
                    <th rowspan="3">変更</th>
                    <th rowspan="3">勤怠を確認する</th>
                  </tr>
                  <tr>
                    <th colspan="2">出社</th>
                    <th colspan="2">退社</th>
                    <th colspan="2">出社</th>
                    <th colspan="2">退社</th>
                  </tr>
                  <tr>
                    <th>時</th>
                    <th>分</th>
                    <th>時</th>
                    <th>分</th>
                    <th>時</th>
                    <th>分</th>
                    <th>時</th>
                    <th>分</th>
                  </tr>
                </thead>
                <tbody>
                  <% user.attendances.each do |day| %>
                    <%= f.fields_for "attendances[]", day do |attendance| %>
                      <tr>
                        <td><%= l(day.worked_on, format: :short) %></td>
                        <td><%= $days_of_the_week[day.worked_on.wday] %></td>
                        <!-- 変更前：出社：時・分 -->
                        <td><%= day.change_before_started_at.floor_to(15.minutes).strftime("%H") %></td>
                        <td><%= day.change_before_started_at.floor_to(15.minutes).strftime("%M") %></td>
                        <!-- 変更前：退社：時・分 -->
                        <td><%= day.change_before_finished_at.floor_to(15.minutes).strftime("%H") %></td>
                        <td><%= day.change_before_finished_at.floor_to(15.minutes).strftime("%M") %></td>
                        <!-- 変更後：出社：時・分 -->
                        <td><%= day.started_at.floor_to(15.minutes).strftime("%H") %></td>
                        <td><%= day.started_at.floor_to(15.minutes).strftime("%M") %></td>
                        <!-- 変更後：退社：時・分 -->
                        <td><%= day.finished_at.floor_to(15.minutes).strftime("%H") %></td>
                        <td><%= day.finished_at.floor_to(15.minutes).strftime("%M") %></td>
                        <!-- 備考 -->
                        <td><%= day.note %></td>
                        <!-- 指示者確認印 -->
                        <td><%= attendance.select :confirm_superior_for_attendance_change, [["なし"], ["申請中"], ["承認"], ["否認"]], {include_blank: true} %></td>
                        <!-- 変更 -->
                        <td><%= attendance.check_box :check_box_for_attendance_change, {}, checked_value = "true",unchecked_value = "false" %></td>
                        <td><%= link_to "確認", user_path(user, date: day.worked_on.beginning_of_month), target: :_blank, rel: "noopener noreferrer", class: "btn btn-primary btn-sm" %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            <% end %>
            <div class="center">
              <%= f.submit "変更を送信する" , class: "btn btn-primary btn-lg btn-#{yield(:btn_text)}" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>